.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  padding: 5px;
  padding-left: 0px;
  justify-content: space-between;
}

.logo {
  font-size: 32px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 5px 5px;
  border: 10px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  gap: 1em;
  display: flex;
  padding-left: 4px;
  padding-right: 3px;
}

a {
  font-size: 10px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}