body {
  background: #eee;
  font-family: sans-serif;
}

.title, .content, .button-container {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
}

.card {
  width: 450px;
  background: #fff;
  margin: auto;
  padding: 1px;
  padding-top: 13px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  width: 100px;
  margin: auto;
  padding: 8px;
}